#
# dashboard service test
# https://github.com/ess-dmsc/integration-test/dashboard
#

[Unit]
Description=Dashboard for ECDC server monitoring
After=network.target

[Service]
User=ecdcdashboard
WorkingDirectory=/var/opt/dm_group/dashboard
ExecStart=/usr/bin/python -m SimpleHTTPServer 8765
Restart=always
RestartSec=10
