#
# dashboard service test
# https://github.com/ess-dmsc/integration-test/dashboard
#

[Unit]
Description=Dashboard for ECDC server monitoring
After=network.target

[Service]
User=ecdcdashboard
WorkingDirectory=/var/opt/dm_group/dashboard
ExecStart=/usr/bin/scl enable rh-python38 "python /opt/dm_group/integration-test/dashboard/generate.py -f /opt/dm_group/integration-test/dashboard/ymir.csv"
Restart=always
RestartSec=10
