#
# dashboard service test
# https://github.com/ess-dmsc/integration-test/dashboard
#

[Unit]
Description=Dashboard for ECDC server monitoring
After=network.target

[Service]
User=efudashboard
WorkingDirectory=/ess/ecdc/dashboard/data
ExecStart=/usr/bin/scl enable rh-python38 "python -m http.server 8765"
Restart=always
RestartSec=10
