#
# dashboard service test
# https://github.com/ess-dmsc/integration-test/dashboard
#

[Unit]
Description=Dashboard for ECDC server monitoring
After=network.target

[Service]
User=efudashboard
WorkingDirectory=/ess/ecdc/dashboard/data
ExecStart=/usr/bin/scl enable rh-python38 "python /ess/ecdc/dashboard/integration-test/dashboard/generate.py -f /ess/ecdc/dashboard/integration-test/dashboard/ymir.csv"
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
