#
# dashboard service test
# https://github.com/ess-dmsc/server-dashboard/dashboard
#

[Unit]
Description=Dashboard for ECDC server monitoring
After=network.target

[Service]
User=efudashboard
WorkingDirectory=/ess/ecdc/dashboard/data
ExecStart=/usr/bin/scl enable rh-python38 "/ess/ecdc/dashboard/server-dashboard/dashboard/start_dashboard -c /ess/ecdc/dashboard/server-dashboard/config"
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
