# Prepare integration test environment and start system under test

- hosts: all
  tasks:
    - name: get integration test start time
      shell: "date '+%Y-%m-%d %H:%M:%S'"
      register: integration_test_start_time

- hosts: epics_test_server
  tasks:
    - name: IOC is running
      docker_container:
        name: ioc
        image: simpleioc
        working_dir: /opt/epics/iocs/SimpleIoc/iocBoot/iocSimpleIoc
        entrypoint: /opt/epics/iocs/SimpleIoc/bin/linux-x86_64/SimpleIoc st.cmd
        tty: yes
        network_mode: host
        state: started

- hosts: test_orchestrator
  tasks:
    - name: create Kafka topics
      command: "{{ test_orchestrator_script_dir }}/create-kafka-topics.sh"

- hosts: forwarder
  tasks:
    - name: forwarder is running
      become: yes
      service:
        name: dm-forwarder
        state: restarted

- hosts: kafka_to_nexus
  tasks:
    - name: file writer is running
      become: yes
      service:
        name: dm-kafka-to-nexus
        state: restarted

- hosts: itestkafka01.dm.esss.dk
  tasks:
    - name: kafka file writer commands log file is absent
      file:
        path: "~/kafka_filewriter_command.log"
        state: absent

    - name: start writing kafka file writer commands to file
      shell: "/opt/dm_group/kafka/bin/kafka-console-consumer.sh --bootstrap-server localhost:9092 --topic {{ kafka_to_nexus_command_topic }} > kafka_filewriter_command.log"
      args:
        chdir: "~"
      async: 600
      poll: 0

    - name: kafka file writer status log file is absent
      file:
        path: "~/kafka_filewriter_status.log"
        state: absent

    - name: start writing kafka file writer status to file
      shell: "/opt/dm_group/kafka/bin/kafka-console-consumer.sh --bootstrap-server localhost:9092 --topic {{ kafka_to_nexus_status_topic }} > kafka_filewriter_status.log"
      args:
        chdir: "~"
      async: 600
      poll: 0

- hosts: kafka_to_nexus
  tasks:
    - name: output NeXus file is absent
      become: yes
      file:
        path: "{{ kafka_to_nexus_data_dir }}/{{ integration_test_nexus_file_name }}"
        state: absent

- hosts: efu
  tasks:
    - name: populate service facts
      service_facts:

    - name: fail test if efu service is not running
      fail:
        msg: "dm-efu-{{ item.instrument }}-{{ item.region }} service is not running"
      loop: "{{ event_formation_unit_config }}"
      when: ansible_facts.services['dm-efu-{{ item.instrument }}-{{ item.region }}.service'].state != 'running'

- hosts: test_orchestrator
  tasks:
    - name: set initial value of EPICS PV
      shell: "\
        {{ epics_install_dir }}/bin/pvput SIMPLE:VALUE1 0; \
        sleep 1"
